<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Appender per stampare i log sulla console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %-5level - %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configurazione del logger di Hibernate per limitare i log a ERROR -->
    <logger name="org.hibernate" level="ERROR" />

    <!-- Configurazione del logger dell'applicazione -->
    <logger name="ipratico.tools.elab.datas" level="INFO"/>

    <!-- Logger radice -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
